:root {
  --first-color: #fe9813;
  --second-color: #e77b0e;
  --third-color: #a22000;
  --fourth-color: #281200;
  --fith-color: #281200db;
  --sixth-color: #e4dede80;
  --seventh-color: #e4dedec5;
  --font: "Orbitron";
}

*,
*:before,
*:after {
  box-sizing: inherit;
  text-align: center;
  font-family: var(--font), sans-serif, monospace;
  font-size: 30px;
  font-weight: normal;
  color: var(--first-color);
  -webkit-text-stroke: 2px var(--third-color);
}

body {
  background-color: var(--fourth-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: 3px solid var(--third-color);
  border-radius: 5px;
  min-height: 98vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 1vh;
  margin: 0 auto;
}

img {
  align-items: center;
  width: 90vw;
  height: 60vh;
  margin: -20px 0px;
  margin-top: -90px;
}

.card {
  width: 450px;
  height: 450px;
  perspective: 450px;
  text-align: center;
  border-radius: 5px;
  margin-top: -200px;
}

.card__content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 2s;
}

.card__content.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  backface-visibility: hidden;
  border-radius: 10px;
}

.card__front {
  padding: 20px 5px;
  background: var(--fourth-color);
}

h2 {
  font-size: 45px;
  font-weight: normal;
}

.enter__word {
  margin-top: 25px;
}

.word__input {
  padding: 10px;
  align-items: center;
  border: 1px solid var(--third-color);
  outline: none;
  width: 300px;
  height: 50px;
  -webkit-text-stroke: 1px var(--third-color);
  background: var(--fourth-color);
  border-radius: 5px;
}

.card__back {
  transform: rotateY(180deg);
  display: none;
  padding: 20px 5px;
  background: var(--first-color);
  box-shadow: var(--first-shadow);
}

.card__back.display {
  display: block;
}

p {
  padding: 10px;
  align-items: center;
  outline: none;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  color: var(--second-color);
}

button {
  margin: 5px;
  padding: 10px;
  width: 90px;
  height: 45px;
  outline: 0;
  border: 1px solid var(--third-color);
  background: transparent;
  cursor: pointer;
  font-size: 25px;
  -webkit-text-stroke: 1.2px var(--third-color);
  border-radius: 5px 10px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.back__button {
  color: var(--second-color);
  border-radius: 10px 5px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.start__button:hover {
  color: var(--third-color);
  background: var(--second-color);
  font-weight: bolder;
}
.start__button:active {
  box-shadow: var(--first-shadow-inset);
}
.back__button:hover {
  color: var(--third-color);
  background: var(--second-color);
  font-weight: bolder;
}
.back__button:active {
  box-shadow: var(--first-shadow-inset);
}
